/*
COLOR PALETTE
#0084D6 - Blue
#0075BE - Dark shade of blue
#000000 - Black
#edf2f4 - Grey
#fff - White
*/

/* 1. Global styles
---------------------------------------*/

/*  Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Recursive:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* Main header styling 
---------------------------------------*/
header {
    background-color: #0084D6;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
}

#logo {
    height: 50px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
}

#header-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
#header-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#offer-section-1 {
    background-color: #fff;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#offer-section-1 p,h3 {
    color: #000000;
}

.discount {
    font-size: 6rem;
    margin: 20px 0;
}


#offer-section-1 input[type="email"] {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000000;
    width: 80%;
}

#offer-section-1 button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0084D6;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Features section styling 
---------------------------------------*/

.features {
    background: #fdfdfd;
    padding: 2rem 0;
}

.features {
    text-align: center;
}

.features .content-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.feature-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.feature-row .img-box,
.feature-row .text-box {
    flex: 1;
}

.feature-row .img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-row .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.feature-row .img-box img {
    max-width: 90%;
    height: auto;
}

.feature-row h3 {
    margin-top: 0;
}

